/* footer — aligned to Figma spec: compact purple bar, centered white
   copyright line. Figma design font is 'Adobe Clean Spectrum VF' (not bundled
   in this project) — requested first with a project-font fallback. */
footer {
  --footer-bg: #7155fa;
  --footer-text-color: #fff;
  --footer-font: 'Adobe Clean Spectrum VF', 'Adobe Clean', adobe-clean, var(--body-font-family);
  --footer-font-size: 14px;
  --footer-line-height: 1.5;
  --footer-pad-bottom: 16px;

  background-color: var(--footer-bg);
  color: var(--footer-text-color);
  font-family: var(--footer-font);
  font-size: var(--footer-font-size);
  line-height: var(--footer-line-height);
}

footer .footer > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  max-width: unset;
  margin: 0;
  padding: 0 0 var(--footer-pad-bottom);
  text-align: center;
}

footer .footer p {
  margin: 0;
}
